<!DOCTYPE html>
<html>
    <head>
        <style>
            .fancy-font {
                font-family:'Comic Sans MS'
            }
            .yike-img {
                max-width: 60%;
                max-height: 40%;
            }
        </style>
        <title>Yikes!</title>
    </head>
    <body>
        <center>
        <p class="fancy-font">
            Congratulations! You have been awarded one yike.
        </p>
        <p class="fancy-font">
                You are yike number {{yikenumber}}.
        </p>
        <br />
        <img class="yike-img" src="https://blazingk.in/yike.png">
        <br />
        </center>
    </body>
</html>